* {
  background-color: rgb(2, 2, 26);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.myInfo {
  margin: 100px;
  background-color: rgb(2, 2, 26);
  color: white;
}

.outer {
  border: solid;
  border-color: rgb(2, 2, 26);
  padding: inherit;
  background-color: rgb(2, 2, 26);
  margin-right: auto;
}


.name-header {
  font-size: 20px;
  margin-left: 45px;
  font-weight: bolder;
  color: white;
  
}

.last-header {

  color: white;
  font-weight: bolder;
}

.nav-tab {

  font-size: large;
  width: 100px;
  white-space: nowrap;
}

.nav-tab :hover {
  color: white;
}

.nav-1tab, .nav-2tab, .nav-3tab, .nav-4tab {
  margin-right: 10px;
}

nav a:active {
  color: white;
}

.navActive {
  color: white;
}

.footer {
  text-align: center;
  float: right;
  margin: 500px 1000px;
  color: white;
}

.phone, .email, .github {
  float: right;
  margin-left: 10px;
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
